<div class="container">
    <div class="header">
        <!-- <h2>Scoping Information</h2> -->
    </div>



    <div class="content">
        <mat-grid-list cols="4">
            <mat-grid-tile class="scope-list">
                <div class="section">
                    <h2>Financials</h2>
					<mat-checkbox>Record to Report</mat-checkbox>
                    <mat-checkbox>Procure to Pay</mat-checkbox>
                    <mat-checkbox>Order to Cash</mat-checkbox>
                    <mat-checkbox>Plan to Perform</mat-checkbox>
                    <mat-checkbox>Acquire to Retire</mat-checkbox>
                    <h2>Governance</h2>
					<mat-checkbox>Project Management</mat-checkbox>
                    <mat-checkbox>Change Management</mat-checkbox>
                    <mat-checkbox>Security and Controls</mat-checkbox>
                    <mat-checkbox>Tax</mat-checkbox>
                    <h2>Additional Options</h2>
					<mat-checkbox>Innovation</mat-checkbox>
                    <mat-checkbox>Investment</mat-checkbox>
                    <mat-checkbox>Discounting</mat-checkbox>
                    <mat-checkbox>Special Considerations</mat-checkbox>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="scope-content">
                <div class="section">
                <mat-tab-group>
                    <mat-tab label="Overview">
aaa
                    </mat-tab>
                    
                    <mat-tab label="Details">
aaa
                    </mat-tab>
                    <mat-tab label="Advanced Modifiers">
asd
                    </mat-tab>
                </mat-tab-group>
            </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</div>