<div class="container">
    <div class="header">
        <!-- <h2>Scoping Information</h2> -->
    </div>



    <div class="content">
        <mat-grid-list cols="4">
            <mat-grid-tile class="scope-list">
                <div class="section">
                    <h2>Financials</h2>
					<mat-checkbox (change)="setArea('Record to Report')">Record to Report</mat-checkbox>
                    <mat-checkbox (change)="setArea('Procure to Pay')">Procure to Pay</mat-checkbox>
                    <mat-checkbox (change)="setArea('Order to Cash')">Order to Cash</mat-checkbox>
                    <mat-checkbox (change)="setArea('Plan to Perform')">Plan to Perform</mat-checkbox>
                    <mat-checkbox (change)="setArea('Acquire to Retire')">Acquire to Retire</mat-checkbox>
                    <h2>Governance</h2>
					<mat-checkbox (change)="setArea('Project Management')">Project Management</mat-checkbox>
                    <mat-checkbox (change)="setArea('Change Management')">Change Management</mat-checkbox>
                    <mat-checkbox (change)="setArea('Security and Controls')">Security and Controls</mat-checkbox>
                    <mat-checkbox (change)="setArea('Tax')">Tax</mat-checkbox>
                    <h2>Additional Options</h2>
					<mat-checkbox (change)="setArea('Innovation')">Innovation</mat-checkbox>
                    <mat-checkbox (change)="setArea('Investment')">Investment</mat-checkbox>
                    <mat-checkbox (change)="setArea('Discounting')">Discounting</mat-checkbox>
                    <mat-checkbox (change)="setArea('Special Considerations')">Special Considerations</mat-checkbox>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="scope-content" rowspan="3">
                <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="Overview">
                        <div class="tab-overview">
                            <h2>{{currentArea}}</h2>

                            <h3>Phases in Scope</h3>
                            <mat-checkbox checked="true">Discovery</mat-checkbox>
                            <mat-checkbox checked="true">Vision</mat-checkbox>
                            <mat-checkbox checked="true">Validate</mat-checkbox>
                            
                            <h3>Staffing Considerations</h3>
                            <mat-checkbox>Using KGS</mat-checkbox>
                            <mat-checkbox>Dedicated Workstream Lead</mat-checkbox>
                        </div>

                    </mat-tab>
                    
                    <mat-tab label="Details">
                        <div class="tab-details">
                            <h3>Assumptions</h3>

                            <mat-form-field>
                                <mat-label>Number of Current Business Units</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            
                            <mat-form-field>
                                <mat-label>Number of Legal Entities</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            
                            <h3>Report Objects</h3>

                            <mat-form-field class="fricew-object">
                                <mat-label>Simple</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Normal</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Complex</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>

                            <h3>Integration Objects</h3>

                            <mat-form-field class="fricew-object">
                                <mat-label>Simple</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Normal</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Complex</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>

                            <h3>Conversion Data Objects</h3>

                            <mat-form-field class="fricew-object">
                                <mat-label>Simple</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Normal</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Complex</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            
                            <h3>Enhancement Objects</h3>

                            <mat-form-field class="fricew-object">
                                <mat-label>Simple</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Normal</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Complex</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            
                            <h3>Workflows</h3>

                            <mat-form-field class="fricew-object">
                                <mat-label>Simple</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Normal</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Complex</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                        </div>
                    </mat-tab>
                    <mat-tab label="Advanced Modifiers">
                        <div class="tab-modifiers">
                            <h3>Complexity Considerations</h3>
                            <mat-checkbox>Business Unit Consolidation</mat-checkbox>
                            <mat-checkbox>Chart of Accounts Redesign</mat-checkbox>

                            <h3 class="override-header">Complexity Override</h3>
                            <mat-slider aria-label="unit(s)"></mat-slider>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</div>