<div class="container">
	<div class="header">
		<h2>Resourcing Information</h2>
		<p>This is the projected level of resources and support required for the provided project parameters.</p>
	</div>

	<div class="resourcing-table">
		<table mat-table #table [dataSource]="RESOURCING_DATA" class="mat-card">
		
			<ng-container *ngFor="let column of columns" [matColumnDef]="column">
				<th mat-header-cell *matHeaderCellDef>{{displayColumns[column]}}</th>

				<td mat-cell *matCellDef="let resource" [ngSwitch]="column"> 
					<mat-slide-toggle *ngSwitchCase="'active'" [(ngModel)]="!resource.active"></mat-slide-toggle>
					<mat-form-field *ngSwitchCase="'override'">
						<input matInput />
					</mat-form-field>
					<p *ngSwitchCase="'fte'">{{resource.active ? resource.fte : 0}}</p>
					<p *ngSwitchCase="'estimated_hours'">{{resource.fte * HOURS_CONSTANT}}</p>
					<p *ngSwitchCase="'allocation'">{{calculateAllocation(resource) | percent}}</p>
					<p *ngSwitchDefault>{{resource[column]}}</p>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="columns"></tr>
			<tr mat-row *matRowDef="let row; columns: columns;"></tr>
		</table>
	</div>
</div>