<div class="container">
    <mat-grid-list cols="12" rowHeight="50px" id="main-grid">

        <mat-grid-tile rowspan="3" colspan="3">
            <mat-card class="module-select">
                <mat-form-field>
                    <mat-label>Module</mat-label>
                    <mat-select [(ngModel)]="selectedModule">
                        <mat-option *ngFor="let module of modules" [value]="module">{{module}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile rowspan="3" colspan="4">
            <mat-card class="kpis">
                <div class="kpi-container">
                    <div class="kpi">
                        <h2>{{calculateTotalHours() | number: '1.0-0'}}</h2>
                        <p>Hours</p>
                    </div>
                    <div class="kpi kpi-2">
                        <h2>{{calculateTotalCost() | currency}}</h2>
                        <p>Total Cost</p>
                    </div>
                    <div class="kpi kpi-3">
                        <h2>{{margin | percent}}</h2>
                        <p>Total Margin</p>
                    </div>
                </div>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile rowspan="15" colspan="5">
            <mat-card class="table-pane">
                <table mat-table #table [dataSource]="RESOURCING_DATA">

                    <ng-container *ngFor="let column of columns" [matColumnDef]="column">
                        <th mat-header-cell *matHeaderCellDef>{{displayColumns[column]}}</th>

                        <td mat-cell *matCellDef="let resource" [ngSwitch]="column">
                            <p *ngSwitchCase="'fte'">{{resource.active ? resource.fte : 0}}</p>
                            <p *ngSwitchCase="'estimated_hours'">{{resource.fte * HOURS_CONSTANT * MODIFIER | number: '1.0-0' }}</p>
                            <p *ngSwitchCase="'allocation'">{{calculateAllocation(resource) | percent}}</p>
                            <p *ngSwitchDefault>{{resource[column]}}</p>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                </table>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="7" rowspan="12">
            <mat-card class="section-pane">
                <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="Overview">
                        <div class="tab-overview">
                            <h3>Phases in Scope</h3>
                            <mat-checkbox checked="true" (change)="updateModifier($event, 0.05)">Discovery</mat-checkbox>
                            <mat-checkbox checked="true" (change)="updateModifier($event, 0.05)">Vision</mat-checkbox>
                            <mat-checkbox checked="true" (change)="updateModifier($event, 0.2)">Validate</mat-checkbox>
                            <mat-checkbox checked="true" (change)="updateModifier($event, 0.3)">Construct</mat-checkbox>
                            <mat-checkbox checked="true" (change)="updateModifier($event, 0.3)">Deploy</mat-checkbox>
                            <mat-checkbox checked="true" (change)="updateModifier($event, 0.1)">Evolve</mat-checkbox>

                            <h3>Staffing Considerations</h3>
                            <mat-checkbox (change)="updateKGS($event)">Using KGS</mat-checkbox>
                            <mat-checkbox (change)="updateLead($event)">Dedicated Workstream Lead</mat-checkbox>
                            <mat-checkbox (change)="updatePartner($event)">Dedicated Partner Lead</mat-checkbox>
                        </div>
                    </mat-tab>

                    <mat-tab label="Details">
                        <div class="tab-details">
                            <h3>Assumptions</h3>

                            <mat-form-field>
                                <mat-label>Number of Current Business Units</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Number of Legal Entities</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>

                            <h3>Report Objects</h3>

                            <mat-form-field class="fricew-object">
                                <mat-label>Simple</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Normal</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Complex</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>

                            <h3>Integration Objects</h3>

                            <mat-form-field class="fricew-object">
                                <mat-label>Simple</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Normal</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Complex</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>

                            <h3>Conversion Data Objects</h3>

                            <mat-form-field class="fricew-object">
                                <mat-label>Simple</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Normal</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Complex</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>

                            <h3>Enhancement Objects</h3>

                            <mat-form-field class="fricew-object">
                                <mat-label>Simple</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Normal</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Complex</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>

                            <h3>Workflows</h3>

                            <mat-form-field class="fricew-object">
                                <mat-label>Simple</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Normal</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                            <mat-form-field class="fricew-object">
                                <mat-label>Complex</mat-label>
                                <input matInput type="number" />
                            </mat-form-field>
                        </div>
                    </mat-tab>
                    <mat-tab label="Advanced Modifiers">
                        <div class="tab-modifiers">
                            <h3>Complexity Considerations</h3>
                            <mat-checkbox>Business Unit Consolidation</mat-checkbox>
                            <mat-checkbox>Chart of Accounts Redesign</mat-checkbox>

                            <h3 class="override-header">Complexity Override</h3>
                            <mat-slider aria-label="unit(s)"></mat-slider>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </mat-grid-tile>


        <!-- Scoping Tab Readout-->
    </mat-grid-list>

</div>