<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
	<h1>Powered Project Modeler</h1>

	<button mat-mini-fab>
		<!-- <mat-icon>person</mat-icon> -->
		<p>CL</p>
	</button>
</div>

<div class="container">
	<div class="button-segment-bar">
		<mat-grid-list cols="6" rowHeight="4:1">
			<mat-grid-tile></mat-grid-tile>
			<mat-grid-tile>
				<button mat-raised-button>Summary</button>
			</mat-grid-tile>
			<mat-grid-tile>
				<button mat-raised-button>Scoping</button>
			</mat-grid-tile>
			<mat-grid-tile>
				<button mat-raised-button>Resourcing</button>
			</mat-grid-tile>
			<mat-grid-tile>
				<button mat-raised-button>Pricing Model</button>
			</mat-grid-tile>
			<mat-grid-tile></mat-grid-tile>
		</mat-grid-list>
	</div>
</div>

<router-outlet></router-outlet>