<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
	<img src="assets/kpmg-logo.png" />
	<h1>Powered Project Modeler</h1>

	<button mat-mini-fab>
		<!-- <mat-icon>person</mat-icon> -->
		<p>CL</p>
	</button>
</div>

<div class="container mat-card">
	<div class="button-segment-bar">
		<mat-grid-list cols="6" rowHeight="4:1">
			<mat-grid-tile></mat-grid-tile>
			<mat-grid-tile>
				<button mat-raised-button routerLink="/project/summary">Summary</button>
			</mat-grid-tile>
			<mat-grid-tile>
				<button mat-raised-button routerLink="/project/scoping">Scoping</button>
			</mat-grid-tile>
			<mat-grid-tile>
				<button mat-raised-button routerLink="/project/resourcing">Resourcing</button>
			</mat-grid-tile>
			<mat-grid-tile>
				<button mat-raised-button routerLink="/project/pricing">Pricing Model</button>
			</mat-grid-tile>
			<mat-grid-tile></mat-grid-tile>
		</mat-grid-list>
	</div>

	<div class="main mat-card">
		<router-outlet></router-outlet>		
	</div>
</div>
