<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="header">
	<img src="assets/kpmg-logo.png" />
	<h1>Powered Project Modeler Prototype</h1>

	<button mat-mini-fab>
		<p>CL</p>
	</button>
</div> -->

<!-- <div class="container mat-card">
	<div class="button-segment-bar">
		<mat-grid-list cols="6" rowHeight="4:1">
			<mat-grid-tile></mat-grid-tile>
			<mat-grid-tile>
				<button mat-raised-button routerLink="/project/summary">Summary</button>
			</mat-grid-tile>
			<mat-grid-tile>
				<button mat-raised-button routerLink="/project/scoping">Scoping</button>
			</mat-grid-tile>
			<mat-grid-tile>
				<button mat-raised-button routerLink="/project/resourcing">Resourcing</button>
			</mat-grid-tile>
			<mat-grid-tile>
				<button mat-raised-button routerLink="/project/pricing">Pricing Model</button>
			</mat-grid-tile>
			<mat-grid-tile></mat-grid-tile>
		</mat-grid-list>
	</div>

	<div class="main mat-card">
		<router-outlet></router-outlet>		
	</div>
</div> -->



<!-- Testing Side Nav-->

<!--Header -->
<!-- <mat-toolbar class="header">
	<img src="assets/kpmg-logo.png" />
	<h1>Powered Project Modeler Prototype</h1>
	<button mat-mini-fab>
		<p>CL</p>
	</button>
</mat-toolbar> -->

<mat-toolbar class="header">
	<img src="assets/kpmg-logo.png" />  
	<button mat-icon-button>
		<mat-icon (click)="sidenav.toggle()">menu</mat-icon>
	  </button>

	  <h1>Powered Project Modeler Prototype</h1>

  </mat-toolbar>

<mat-sidenav-container class="container">
	<!-- Sidenav Content-->
	<mat-sidenav #sidenav mode="push" closed class="sidenav" fixedInViewport ="false" fixedTopGap = "100" role="navigation">

		Side content
		<mat-nav-list>
  
			<a mat-list-item routerLink="/project/summary" > Project Overview </a>
			<a mat-list-item routerLink="/project/scopingv2"> Detailed Scoping </a>
			<a mat-list-item routerLink="/project/resourcing"> Resources Overview </a>
			<a mat-list-item routerLink="/project/pricing"> Pricing Overview </a>
	  
		  </mat-nav-list>

	</mat-sidenav>
	<!-- Main Content-->
	<mat-sidenav-content role="main">
		Main content
		<router-outlet></router-outlet>
	</mat-sidenav-content>
  </mat-sidenav-container>



<!--Footer-->
<mat-toolbar class="footer"></mat-toolbar>

