.header {
    height: 175px;
    background-color: #303f9f;
    padding-top: 50px;

    img {
        width: 120px;
        margin-left: 30px;
    }

    h1 {
        margin: 0 0 0 20px;
        color: white;
        transform: translateY(-5px);
        font-weight: 400;
        display: inline-block;
    }

    button {
        position: absolute;
        right: 30px;
        border-radius: 25px;
        border: 0px solid;
        height: 45px;
        width: 45px;
        background-color: #2196F3;
        color: white;

        p {
            font-size: 20px;
            margin: 0;
        }
    }
}

.container {
    height: calc(100% - 150px);
    width: 100%;
    background-color: #cfd8dc;
    position: absolute;
    bottom: 0;
    border-radius: 15px 15px 0 0;

    .button-segment-bar {
        padding: 25px;

        button {
            width: 100%;
            margin-right: 20px;
            background-color: #448AFF;
            color: white;
        }
    }

    .main {
        background-color: #EEEEEE;
        /* Centering this div */
        margin-left: 40px;
        width: calc(100% - 40px - 40px);
        height: calc(100% - 100px - 40px);
        border-radius: 15px;
    }
}
