.container {
    padding: 20px;

    // Global page settings
    h2 {
        font-weight: 400;
        font-size: x-large;
    }
    
    mat-checkbox {
        margin-right: 20px;
    }
    .Progress{
        position:absolute;
        right: 137px;
        top: 37px;
    }
    // .helpButton{
    //     position:absolute;
    //     right: 7px;
    //     top: 30px;
    // }
    // Section specific settings
    .header {
        width: 50%;

        h2 {
            margin-bottom: 0;
        }

        mat-form-field {
            width: 100%;
        }
        .projectsButton{
            position: absolute;
            // right: 1px;
            top: -7px;
        }
    }
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
        opacity: 0.03 !important;
        background-color: #7a4cd7!important;
      }
    
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        //background-color: #f37d16;
        background-color: #7a4cd7;
      }

    .systems {
        margin-top: 20px;
        width: 100%;

        .mat-expansion-panel.mat-expanded {
            background: rgb(211, 249, 255);
          }
        .OCA:hover {
            background: rgb(211, 249, 255);
          }
        .Workday:hover {
            background: rgb(211, 249, 255);
          }
        .Salesforce:hover {
            background: rgb(211, 249, 255);
          }
        .Guidewire:hover {
            background: rgb(211, 249, 255);
          }
        
    }
    
    .considerations {
        margin-top: 20px;
    }

    .Progress-Bar {
        width: 370px;
        position:absolute;
        right: 7px;
        top: 25px;
        height: 7px;
     }
     ::ng-deep .mat-progress-bar-fill::after {
        background-color: #10ec7c;
    }
    
}

