.container {
    padding: 20px;

    // Global page settings
    h2 {
        font-weight: 400;
        font-size: x-large;
    }
    
    mat-checkbox {
        margin-right: 20px;
    }
    .Progress{
        position:absolute;
        right: 137px;
        top: 37px;
    }
    // .helpButton{
    //     position:absolute;
    //     right: 7px;
    //     top: 30px;
    // }
    // Section specific settings
    .header {
        width: 50%;

        h2 {
            margin-bottom: 0;
        }

        mat-form-field {
            width: 100%;
        }
        .projectsButton{
            position: absolute;
            // right: 1px;
            top: -7px;
        }
    }

    .systems {
        margin-top: 20px;
        width: 100%;

        .mat-expansion-panel.mat-expanded {
            background: rgb(177, 237, 253);
          }
        .OCA:hover {
            background: rgb(177, 237, 253);
          }
        .Workday:hover {
            background: rgb(177, 237, 253);
          }
        .Salesforce:hover {
            background: rgb(177, 237, 253);
          }
        .Guidewire:hover {
            background: rgb(177, 237, 253);
          }
        
    }
    
    .considerations {
        margin-top: 20px;
    }

    .Progress-Bar {
        width: 370px;
        position:absolute;
        right: 7px;
        top: 25px;
        height: 7px;
     }
     ::ng-deep .mat-progress-bar-fill::after {
        background-color: #10ec7c;
    }
    
}

