.container {
    padding: 20px;

    // Global page settings
    h2 {
        font-weight: 400;
        font-size: x-large;
    }
    
    mat-checkbox {
        margin-right: 20px;
    }

    // Section specific settings
    .header {
        width: 50%;

        h2 {
            margin-bottom: 0;
        }

        mat-form-field {
            width: 100%;
        }
    }

    .systems {
        margin-top: 20px;
        width: 100%;
    }
    
    .considerations {
        margin-top: 20px;
    }
}
