<div class="container">
	<div class="header">
		<h2>Pricing Information</h2>
		<p>This is the calculated fees and metrics for your engagement.</p>
	</div>
	<mat-progress-bar class="Progress-Bar" mode="determinate" value="100" color="warn"></mat-progress-bar>

	<div class="resourcing-table">
		<table mat-table #table [dataSource]="PRICING_DATA" class="mat-card">
		
			<ng-container *ngFor="let column of columns" [matColumnDef]="column">
				<th mat-header-cell *matHeaderCellDef>{{displayColumns[column]}}</th>

				<td mat-cell *matCellDef="let resource" [ngSwitch]="column">
					<p *ngSwitchCase="'fees'">{{resource[column] | currency}}</p> 
					<p *ngSwitchCase="'margin'">{{resource[column] | percent}}</p>
					<p *ngSwitchCase="'erp'">{{resource[column] | percent}}</p>
					<p *ngSwitchDefault>{{resource[column]}}</p>
				</td>

				<td mat-footer-cell *matFooterCellDef [ngSwitch]="column">
					<p *ngSwitchCase="'process'"><b>Total</b></p>
					<p *ngSwitchCase="'fees'"><b>{{calculateTotalFees() | currency}}</b></p>
					<p *ngSwitchCase="'margin'"><b>{{calculateAverageMetric("margin") | percent}}</b></p>
					<p *ngSwitchCase="'erp'"><b>{{calculateAverageMetric("erp") | percent}}</b></p>
					<p *ngSwitchCase="'rph'"><b>{{calculateAverageMetric("rph")}}</b></p>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="columns"></tr>
			<tr mat-row *matRowDef="let row; columns: columns;"></tr>
			<tr mat-footer-row *matFooterRowDef="columns"></tr>
		</table>
	</div>
</div>