.container {
    padding: 20px;
    height: 100%;
    
    // Global page settings
    h2 {
        font-weight: 400;
        font-size: x-large;
    }
    .Progress-Bar {
        width: 370px;
        position:absolute;
        right: 7px;
        top: 25px;
        height: 7px;
     }
     ::ng-deep .mat-progress-bar-fill::after {
        background-color: #10ec9b;
    }
    .Progress{
        position:absolute;
        right: 137px;
        top: 37px;
    }

    .header {

    }

    .resourcing-table {
        max-height: calc(100% - 150px);
        height: calc(100% - 150px);
        overflow: scroll;
        border-radius: 15px;

        table {
            width: 100%;
            padding: 0 15px;
            border-radius: 15px;

            .mat-header-cell, .mat-footer-cell {
                // background-color: #0288D1;
                // color: white;
                font-size: large;
                vertical-align: middle;
                text-align: center;
            }

            .mat-cell {
                vertical-align: middle;
                text-align: center;
            }

            input {
                height: 100%;
            }
        }
    }
}